<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076888716268-b136cn4in9latcegaih3ccbf44vc0ha1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076888716268-b136cn4in9latcegaih3ccbf44vc0ha1</string>
	<key>API_KEY</key>
	<string>AIzaSyDTav3Oh3Q0kVxx55ZJif-EMp3VjilvKxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1076888716268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pabloescriva.cosmoquiz</string>
	<key>PROJECT_ID</key>
	<string>cosmoquiz-66340</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmoquiz-66340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076888716268:ios:25879a52f37263f6</string>
	<key>DATABASE_URL</key>
	<string>https://cosmoquiz-66340.firebaseio.com</string>
</dict>
</plist>